.buttonApp {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

form label {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

form input {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
} 

.formApp {
    display: flex;
    flex-direction: row;
}

.label {
    position: relative;
    color: #5a5a5a;
    font-weight: 600;
    margin: 1em 4em;
    width: 83%;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 3em;
}

.date-num {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5%;
    width: 15em;
    height: 3em;
}


.labelOn {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
}

.date-num input {
    color: #5a5a5a;
    padding: 12px;
    background: linear-gradient(90deg, #03a8f407, #f441a601, #ffeb3b0f, #03a8f416);
    background-size: 300%;
    font-size: 1em;
    outline: none;
    transition: 250ms ease-in-out all; 
    border-top: #5a5a5a;
    border-right: #5a5a5a;
    text-align: center;
}


.comentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}