.buttonApp {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.formApp {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.cartNum {
    height: 200px;
    margin-right: 2em;
    flex: 1 0 250px;
}

.labelApprove {
    position: relative;
    color: #5a5a5a;
    margin: 1em 4em;
    width: 83%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-right: 1em;
}

.date-num {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5%;
    width: 100%;
    height: 4em;
}


.labelOn {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 10%;
    margin-left: 10%;
}

.date-num input {
    color: #5a5a5a;
    padding: 12px;
    background: linear-gradient(90deg, #03a8f407, #f441a601, #ffeb3b0f, #03a8f416);
    background-size: 300%;
    font-size: 1em;
    outline: none;
    transition: 250ms ease-in-out all; 
    border-top: #5a5a5a;
    border-right: #5a5a5a;
    text-align: center;
}


.comentFormApprove {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #03a8f400, #f441a600, #ffeb3b00, #03a8f400);
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
    min-height: 150px;
    font-size: 18px;

}