input {
    margin-left: 10%;
}

.cart {
    position: relative;
    /* background-color: rgb(246, 208, 250); */
    width: 85%;
    margin-left: 10%;

}

.suggestion {
    position: relative;
    width: 97%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid rgb(147, 145, 145);
}

.suggestion:hover {
    border-bottom: 4px solid #8250e56b;
    border-left: 3px solid #8250e56b;
    border-right: 3px solid #8250e56b;
    border-top: 2px solid #8250e56b;
    border-radius: 5px;
}