.button {
    margin-top: 40px;
    position: relative;
    border: none; 
    color: #fff;
    width: 40%;
    height: 4em;
    line-height: 2em;
    text-align: center;
    font-size: 1em;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    border-color: black;
    border-style: dashed;
  }
  
.button:hover {
  transform: scale(1.12);
    animation: animation 8s liner infinite;
    border: none;
  }
  
@keyframes animation {
    0% { background-position: 0%;}
    100% { background-position: 400%;}
  }
  
.button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
    background-size: 400%;
    border-radius: 35px;
    transform: 1s;
    border-color: black;
    border-style: dashed;
}
  
.button:hover::before{
    filter: blur(20px);
}
  