.headerNav {
  display: flex;
  justify-content: center;
}

.link1,
.link2 {
  color: #fff;
  text-decoration: none;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 0px;
  margin-right: 20px;
}