.reviewMenu {
    justify-content: center;
}

.buttonNav {
    display: inline;
    margin: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    perspective: 30rem;
    perspective-origin: 10% 20%;
    margin: 0 2em;
    
}

.link-1 {
    text-decoration: none;
}
